{% extends 'events/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2 class="page-title">Login</h2>

    <div class="form-card">
        {% if error %}
            <div class="message-error">{{ error }}</div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            <p>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </p>

            <p>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </p>

            <button type="submit" class="btn">Login</button>
        </form>
    </div>
{% endblock %}
